.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buscador{ background-color: #9fa8aa;
display: flex;
justify-content: space-around;
padding: 2rem;
;}

#input1{ margin-left: 10rem;}

.colaborador{ background-color: #e1ecee;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  ;}

  .input2{ margin-left: 10rem;}

  .button1 {display: flex;
  justify-content: center;
margin: 2rem;}

.resultados{display: flex;
  justify-content: center;
 
}
  .resultados1{display: flex;
    justify-content: center;
    background-color:black;
    padding: 2rem;
    color: white;
  }